body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #000000;
}


.layout {
    width: 1366px;
    height: 768px;

    display: grid;
    grid:
        "header" auto "main" auto "footer" auto / 1fr;
    gap: 8px;
}

.header {
    background-color: rgb(101, 132, 139);
    padding-top: 70px;
    padding-bottom: 25px;
    margin-bottom: 500px;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

.navegacion a {
    top: -25px;
    bottom: 40px;
    font-size: 1.75rem;
    position: relative;
    left: 850px;
    margin: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    color: #ffffff;
}

.logo {
    position: absolute;
    top: -110px;
    left: 100px;

    .imagen-principal {
        width: 350px;
        height: 350px;
    }
}

.main {
    color: #ffffff;
    margin-top: -450px;
    position: relative;
}

.formulario{
    margin-top: -30px;
	background-color: #000000;
	padding: 42px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #ccc;
}

.label {
	margin-bottom: 10px;
    color: #ffffff;
    margin-left: 150px;
}

input[type="text"], input[type="email"], textarea {
   margin-left: 150px;
	width: 80%;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #ccc;
}

input[type="submit"] {
	background-color: #007bff;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
    margin-left: 600px;
}

.final {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 170px;
    background-color: #f2f2f2;
}

.footer{
    width: 100%;
    height: 100%;
    padding-left: 850px;
}
.iconos-footer {
    display: flex; 
    justify-content: space-between; 
    width: 40px;
    margin-top: 20px;
    margin-left: 50px;
    padding-right:20px;
}

.derechos {
    display: flex;
    padding-left: 110px;
    font-size: 1.5rem;
    flex-direction: column;
}